div.hourly-li {
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding: 10px;
    color: white;
    font-family: 'Indie Flower', sans-serif;
    background-color: darkslateblue;
    margin: 0.4em;
}