<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Weather : Sunshine or Raindrops</title>
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <link rel="icon" href="images/favicon.ico">
    <!--    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA1P7FIgpxvanTfmvPU_RNxEEqbC2bbUY&libraries=places"></script>-->
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat|Nova+Oval|Macondo|Indie+Flower" rel="stylesheet">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/factory.js"></script>
    <script src="js/controller.js"></script>
</head>

<body ng-app="citymodule">
    <div ng-controller="citycontroller" style="text-align:center;">
        <div id="searchDiv">
            <input type="text" ng-model="cityName" placeholder="Search places..">
            <button ng-click="searchByCid()" id="checkcity">Check</button>
        </div> ("Delhi" by default.)
        <br>
        <br>
        <!--Display Search Results-->Results:
        <br>
        <br>
        <br>
        <div style="font-size:1rem;"> {{result.location.city}}, {{result.location.country}}
            <br> <b><i>{{result.item.condition.text|uppercase}}</i></b>
            <br><b>{{result.item.condition.temp}}°{{result.units.temperature}} </b>
            <br>Humidity: <u>{{result.atmosphere.humidity}} %</u>
            <br>WindSpeed: <u>{{result.wind.speed}} {{result.units.speed}}</u> </div>
    </div>
</body>

</html>